# Ignore all metadata folders
**/.metadata/
.metadata/**
.metadata/.plugins/**

# Other patterns to ignore
*.txt
*.ser
*.prefs
*.snap
*.xmi
*.index
*.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/naming-server/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/naming-server/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
